
@charset "UTF-8";

.main {
  min-height: 500px;
}
#v {
  display: none;
}
#c {
  display: block;
}

* {
  color: fc;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 0;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
body {
  background: bg;
}
img {
  outline: none;
}

.foot {
  width: 75%;
  min-height: 100px;
}
.foot button {
  color: #fff;
  width: 100px;
  height: 30px;
  background: #39f;
  position: relative;
  left: 100px;
  bottom: 0;
}
.foot .ani-box {
  width: 65%;
  margin: 0 auto;
}
.foot .prev {
  float: left;
}
.foot .next {
  float: right;
}

.head {
  display: block;
  width: 100%;
  height: 100px;
  background: #3ff;
}
